{% extends "layout.html" %}

{% block title %} {{title}} by {{author}} {% endblock %}


{% block body %}
  <div style="display:none;">
      <span id="average_rating">{{averageRatings}}</span>
      <span id="user_rating_data">{{userReview.rating}}</span>
      <span id="others_rating">{{otherRatings}}</span>
      <span id="goodread_rating_data">{{goodreadR}}</span>
  </div>
  <main>
    <section class="bookInfo">
      <h2> {{title}} </h2>
      <p> by {{author}}</p>
      <p> Publication year: {{publicationYear}}</p>
      <p>isbn: {{isbn}}</p>

      {% if isFavBook %}
        <form action="{{ url_for('remove_book', id=id) }}">
            <button type="submit" class="btn btn-primary" > Remove from your book list </button>
        </form>
      {% else %}
        <form action="{{ url_for('add_book', id=id) }}">
            <button type="submit" class="btn btn-primary" > add to your list of books </button>
        </form>
      {% endif %}

    </section><br>



    <section class="reviews" >
      <h2> Reviews and ratings </h2>
      <table class="table table-striped">
            <tr>
              <td> Average Rating:  <span id="book-rating"> </span> &nbsp;&nbsp;&nbsp;&nbsp  Numbers of ratings: {{numberRatings}}</td>
            </tr>

      </table>

      <h4> Your review here</h4>

      {% if canEditReview %}

      <div class="review">
        <table class="table table-striped">
              <tr>
                <td> <b>You</b> rated it &nbsp;&nbsp;&nbsp;&nbsp<div id="user_rating" class="disable_rating"></div></td>
              </tr>

        </table>
        <p id="review_content" style="margin-top:0px;"> {{userReview.review}} </p>
        <hr>


      </div>

      <h6> Edit review </h6>

      <div>
        <div id="edit_user_rating"></div>


          <textarea class="form-control" placeholder="Write your review" id="review" value="" style="width:90%" name="review">
          </textarea> <br>
          <button type="submit"  id="submitReview" class="btn btn-primary"> Edit review</button>

      </div>

      {% else %}

      <div class="review" style="display:none;">
        <table class="table table-striped">
              <tr>
                <td> <b>You</b> rated it &nbsp;&nbsp;&nbsp;&nbsp<div id="user_rating" class="disable_rating"></div></td>
              </tr>
        </table><br>
        <span id="review_content"> </span> <hr>


      </div>

        <h6> Submit review </h6>

        <div>
          <div id="edit_user_rating" ></div>

          <textarea class="form-control" placeholder="Write your review" id="review" value="" style="width:90%">
          </textarea> <br>
          <button type=""  id="submitReview" class="btn btn-primary"> Submit review</button>

        </div>

      {% endif %}




      <br><br><br>
      <h4> Others users reviews</h4>
      {% if reviews %}

      {% for review in reviews %}
              <b>{{review.username}} </b>rated it <span class="other_rating"></span> <br>
              {{review.content}}
              <hr>
          {% endfor %}



      {% else %}
          No other reviews
      {% endif %}


    </section>
    <br>

    <section>
        <h4> Rating on  GoodReads.com </h4>
        <table class="table table-striped">

          {% for data in json %}
              <tr>
                <td> Numbers of ratings</td>
                <td>  {{data.work_ratings_count}} </td>

              </tr>

              <tr>
                <td> Average rating</td>
                <td > <span id="goodread_rating"> </span> </td>
              </tr>

          {% endfor %}
        </table>
    </section>
  </main>


{% endblock %}
