{% extends "layout.html" %}

{% block title %} {{title}} by {{author}} {% endblock %}


{% block body %}
  <div style="display:none;">
      <span id="average_rating">{{averageRatings}}</span>
      <span id="user_rating_data">{{userReview.rating}}</span>
      <span id="others_rating">{{otherRatings}}</span>
  </div>
  <main>
    <section class="bookInfo">
      <h2> {{title}} </h2>
      <p> by {{author}}</p>
      <p> Publication year: {{publicationYear}}</p>
      <p>isbn: {{isbn}}</p>

      {% if isFavBook %}
        <form action="{{ url_for('remove_book', id=id) }}">
            <button type="submit" class="btn btn-primary" > Remove from your book list </button>
        </form>
      {% else %}
        <form action="{{ url_for('add_book', id=id) }}">
            <button type="submit" class="btn btn-primary" > add to your list of books </button>
        </form>
      {% endif %}

    </section><br>



    <section class="reviews" >
      <h2> Reviews and ratings </h2>
      <table class="table table-striped">
            <tr>
              <td> Average Rating:  <span id="book-rating"> </span> &nbsp;&nbsp;&nbsp;&nbsp  Numbers of ratings: {{numberRatings}}</td>
            </tr>

      </table>

      <h4> Your review here</h4>

      {% if canSubmitReview %}


          <div id="before_review">
            <div id="user_rating" class=""></div>

            <textarea class="form-control" placeholder="Write your review" id="review" value="" style="width:90%">
            </textarea>
            <button type=""  id="submitReview" class="btn btn-primary"> Submit review</button>

          </div>

          <div id="after_review" style="display:none;">
            <table class="table table-striped">
                  <tr>
                    <td> You rated it &nbsp;&nbsp;&nbsp;&nbsp<div id="after_user_rating"></div></td>
                    <td id="review_content">    {{userReview.review}} </td>
                  </tr>

            </table>
            <button type="submit"   class="btn btn-primary"> Edit </button>

          </div>



      {% else %}


          <div class="review">
            <table class="table table-striped">
                  <tr>
                    <td> You rated it &nbsp;&nbsp;&nbsp;&nbsp<div id="user_rating" class="disable_rating"></div></td>
                    <td>    {{userReview.review}} </td>
                  </tr>

            </table>
            <button id="edit_button"  class="btn btn-primary"> Edit </button>

          </div>

          <div id="edit_review" style="display:none;">
            <div id="user_rating_edit" class=""></div>

            <textarea class="form-control" placeholder="Write your review" id="review" value="" style="width:90%">
            </textarea><br>
            <button type=""  id="submitReview" class="btn btn-primary"> Submit review</button>
            <button class="btn btn-primary"> Cancel edit </button>

          </div>


      {% endif %}


      <br><br><br>
      <h4> Others users reviews</h4>
      {% if reviews %}
      <table class="table table-striped">
        {% for review in reviews %}
          <!--  <tr>
              <td>
                  <b>{{review.username}} </b>rated it <span class="other_rating"></span>
              </td>

              <td>
                {{review.content}}
              </td>
            </tr>
            {% endfor %} -->

      </table>

      {% for review in reviews %}
              <b>{{review.username}} </b>rated it <span class="other_rating"></span> <br>
              {{review.content}}
              <hr>
          {% endfor %}



      {% else %}
          No other reviews
      {% endif %}


    </section>
    <br>

    <section>
        <h4> Rating on  GoodReads.com </h4>
        <table class="table table-striped">

          {% for data in json %}
              <tr>
                <td> Numbers of ratings</td>
                <td>  {{data.work_ratings_count}} </td>

              </tr>

              <tr>
                <td> Average ratings</td>
                <td> {{data.average_rating}}</td>

              </tr>
          {% endfor %}
        </table>
    </section>
  </main>


{% endblock %}
