{% extends "layout.html" %}

{% block title %} Update password {% endblock %}


{% block body %}

  <div class="middle">

    <h2>Update password</h2>

    <form class="form" action="{{ url_for('update_password') }}" method="post">

      <label class="sr-only" for="inlineFormInputGroup">Current password</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="Enter current password" name="current_password" required>
      </div>
      <br>

      <label class="sr-only" for="inlineFormInputGroup">New password</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="Enter new password" name="new_password" required>
      </div>
      <br>

      <label class="sr-only" for="inlineFormInputGroup">Password confirmation</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="confirm" name="password_confirmation" required>
      </div>
      <br>



      {% if error %}
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{message}}
        </div>
      {% endif %}

      {% if success %}
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{message}}
        </div>
      {% endif %}



      <button type="submit" class="btn btn-primary">Save change</button>
    </form>

  </div>

{% endblock %}
