{% extends "layout.html" %}

{% block title %} My profile {% endblock %}


{% block body %}
    <div>
      <h2 style="text-align:center"> Your account info </h2>
      {% for n in user %}
        <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">Username</th>
              <td>{{n.username}}</td>
            </tr>
            <tr>
              <th scope="row">Email address</th>
              <td>{{n.email}}</td>
            </tr>
          </tbody>
        </table>
      {% endfor %}

      <h2 style="text-align:center">Update your account info </h2>
      <table class="table table-striped">
        <tr>
          <td>
            <a href="{{ url_for('update_password') }}"> Change your password  </a>
          </td>

          <td>
            <a href="{{ url_for('update_username') }}" >Change your username  </a>
          </td>

          <td>
            <a href="{{ url_for('update_email') }}" >  Change your email address</a>
          </td>
        <tr>
      </table>
    </div>


{% endblock %}
